/* * {
  box-sizing: border-box;
} */

body {
  background-color: darkgray;
}

.navbar {
  background-color: #ffffff;
  border-bottom: 3px solid #eeeeee;
  padding: 0px;
  font-family: "Georgia", Times, "Times New Roman", serif;
}

.nav-hero {
  text-align: center;
  padding: 15px;
  margin-bottom: -3px;
}
.nav {
  list-style: none;
  display: inline-flex;
}

.card {
  background-color: #666666;
}

.container {
  border: #666666;
  background-color: white;
  margin-top: 50px;
  font-family: "Georgia", Times, "Times New Roman", serif;
}

.wrapper {
  padding: 20px;
  border-radius: 125px;
}

.imagetext1 {
  margin: 183px 0 -221px -4px;
  left: 4px;
  width: 200px;
  padding: 5px;
  text-align: center;
  position: relative;
  background: #4aaaa5;
  color: white;
  bottom: 55px;
}
  .imagetext2 {
    margin: 183px 0 -221px -4px;
    left: 4px;
    width: 200px;
    padding: 5px;
    text-align: center;
    position: relative;
    background: #4aaaa5;
    color: white;
    bottom: 55px;
  }
    
.imagetext3 {
    margin: 183px 0 -221px -4px;
    left: 4px;
    width: 200px;
    padding: 5px;
    text-align: center;
    position: relative;
    background: #4aaaa5;
    color: white;
    bottom: 55px;
  }
  .imagetext4 {
    margin: 183px 0 -221px -4px;
    left: 4px;
    width: 200px;
    padding: 5px;
    text-align: center;
    position: relative;
    background: #4aaaa5;
    color: white;
    bottom: 55px;
  }
  .imagetext5 {
    margin: 183px 0 -221px -4px;
    left: 4px;
    width: 200px;
    padding: 5px;
    text-align: center;
    position: relative;
    background: #4aaaa5;
    color: white;
    bottom: 55px;
  }
    
  
@media screen and (max-width: 768px) {
  /* .nav {
        justify-content: center;
    }     */
  /* .container {
        width: 600px;
    } */
}
